<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
<form for="ask" action="/answer" method="get">
  <input id="ask" type="text" name="question" placeholder="Ask a question..">
  <input type="submit" value="Ask!" class="btn btn-outline-primary">
</form>
</div>
